<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <nav class="nav">
          <ul>
            <li><a href="{{url_for('index')}}">Нүүр хуудас</a></li>
            <li><a href="{{url_for('tenhim')}}">Тэнхим бүртгэх</a></li>
            <li>
              <a href="{{url_for('albantushaal')}}">Албан тушаал бүртгэх</a>
            </li>
            <li>
              <a href="{{url_for('erdmiinzereg')}}">Эрдэмийн зэрэг бүртгэх</a>
            </li>
            <li><a href="{{url_for('bagsh')}}">Багш бүртгэх</a></li>
          </ul>
        </nav>
      </aside>

      <section class="content">
        <div class="container">
          <div class="header"><h1>{{garchig}}</h1></div>
          {% block aguulga %} {% endblock %}
        </div>
      </section>
    </main>
  </body>
</html>
<!DOCTYPE html>
